* {
  font-family: "Noto Sans KR", sans-serif;
}

/* 메인페이지 */

.container {
  width: 100vh;
  height: 100vh;
  background-color: #f2f0eb;
}

.start {
  width: 600px;
  margin: 20px auto;
}

.main-img {
  width: 70%;
  height: 500px;
}

.start-title {
  font-size: 3rem;
  padding: 30px 0;
}

.start-btn {
  font-size: 2rem;
  margin: 30px 0;
}

/* 여기까지 */

/* 질문화면 */

.progress-bar {
  background-color: #91d7f2;
}

/* 질문화면 - 버튼 */

.container-btu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sub-title {
  font-size: 4rem;
  margin: 15px 0;
}

#A,
#B {
  width: 500px;
  font-size: 2rem;
  margin: 20px auto;
  align-items: center;
}

#A {
  border: 1px solid #91d7f2;
  background-color: #91d7f2;
}

#A:hover {
  border: 1px solid #5196a6;
  background-color: #5196a6;
}

#B {
  border: 1px solid #f2594b;
  background-color: #f2594b;
}

#B:hover {
  border: 1px solid #a63c3c;
  background-color: #a63c3c;
}

article {
  display: flex;
  flex-direction: column;
}

.start {
  align-items: center;
}

.question,
.result {
  display: none;
}

#img {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}
